/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");

/* gobable setting */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  /* display: flex; */
} 

a {
  text-decoration: none;
}
button,
input {
  border: none;
  outline: none;
}

/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --icon-bg: #28251f;
}
/* selector style  */

::selection {
  background-color: var(--gold);
  color: var(--bg-color);
  font-weight: bold;
}
.section-title {
  margin-bottom: 50px;
  padding-bottom: 15px;
}
.section-title h2{
   font-size: 40px;
   font-weight: 900;
   text-transform: capitalize;
   letter-spacing: 1px;
   text-align: center;
   padding: 40px;
   color: var(--gold);
}

html {
  /* overflow-x: hidden; */
  /* scroll-padding-top: 9rem; */
  /* scroll-behavior: smooth; */
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 5rem;
}
/* ------------------------------------Section Home page ---------------------------*/
 .Home-section {
  font-family: var(--playfair-disply-font);
  height: 100vh;
  width: 100%;
  background: url("../image/homePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.Home-section .home-btn {
  color: var(--white);
  font-family: var(--logo-font);
  font-family: var(--playfair-disply-font);
  color: #ffffff;
  font-family: Lobster;
  font-family: Playfair Display;
  padding: 20px 25px;
  border-radius: 30px;
  border: 2px solid rgba(197, 157, 95, 1);
  width: fit-content;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
  bottom: 12%;
  background-color: rgba(180, 138, 75, 0.315);
  font-size: 25px;
}
label.logo {
  color: var(--white);
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 50px;
}
nav .nav-menu {
  float: right;
  margin-right: 20px;
}
nav .nav-menu li {
  display: block;
  margin: 70px 0;
  line-height: 30px;
}
nav .nav-menu li a {
  font-size: 30px;
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
#check:checked ~ .nav-menu {
  left: 0;
}
a:hover {
  background: rgba(197, 157, 95, 1);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
}
#check {
  display: none;
}
a:hover,
a.active {
  background: none;
  color: rgba(197, 157, 95, 1);
}
.nav-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}
/* ---------------------------------- Section About Us ----------------------------------*/
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 2rem;
}

.heading span {
  color: rgba(197, 157, 95, 1);
  text-transform: uppercase;
}
.home {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
#About_us {
  padding: 90px;
  background: rgba(26, 24, 20, 1);
  padding: 30px;
}
.home .content {
  max-width: 60rem;
}
.about .row {
  display: flex;
  align-items: center;
  background: rgba(54, 51, 44, 1);
  flex-wrap: wrap;
}
.about .row .image {
  flex: 1 1 20rem;
}
.about .row .image img {
  width: 70%;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 10%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 12px;
}
.about .row .content p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  line-height: 1.8;
  text-align: center;
}
.para1 {
  font-size: 30px;
}
.about .row .content h3 {
  font-size: 1rem;
  color: #fff;
}
/* start our chef section  */
.our-chef{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}
.chef-item img{
  width: 100%;
  height: 300px;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.chef-item:hover img{
  transform: skewY(2deg);
}
.chef-item:hover .chef-item-info{
  transform: translateY(-15px);
  background-color: var(--gold);
  font-family: var(--playfair-disply-font);
  color: var(--bg-color);
}
.chef-item-info{
    background-color: var(--light-bg-color);
    color: var(--gold);
    margin-bottom: 50px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    right: 20px;
    bottom: 0;   
    left: 20px;
    transform: translateY(50%);
    transition: all 0.5s ease;
    pointer-events: none;
    border: 1px solid var(--gold);
}
.chef-item-info h3{
    font-size: 20px;
    text-transform: capitalize;
}
.chef-item-info p{
    text-transform: capitalize;
    font-size: 18px;
}
.chef-item:hover .chef-item-info p{
    color: var(--white);

}










@media (min-width: 415px) and (max-width: 768px){
  .heading {
    font-size: 3rem;
  }
  .Home-section {
    background-position: center;
  }
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  nav .nav-menu li a {
    font-size: 30px;
  }
  .checkbtn {
    display: block;
  }
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav .nav-menu li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav .nav-menu li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: rgba(197, 157, 95, 1);
  }
  #check:checked ~ .nav-menu {
    left: 0px;
  }

  /* html {
    font-size: 55%;
  } */

  .header {
    padding: 1.5rem 2rem;
  }

}
/* start why-choose-us section  */
.why-us {
  background-color: var(--bg-color);
  text-align: center;
  padding: 30px;
  height: 300px;
  border-bottom: 1px solid var(--gold);
  position: relative;
  height:auto; 
  font-size: 50px;
}
.why-us h2 {
  position: relative;
  color: var(--gold);
  margin-bottom: 1.5rem;
  font-size: 22px;
  font-family: var(--playfair-disply);
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  
}
.boxes .reason-box {
  background-color: var(--light-bg-color);
  color: var(--white);
  width: 400px;
  height: 200px;
  padding-top: 10px;
  font-family: var(--playfair-disply-font);
  border: none;
  font-size: 20px;  
  margin: 20px;
}
.boxes .reason-box i {
  color: var(--gold);
  font-size: 40px;
  padding: 20px;
}
.boxes .reason-box h4,
.boxes .reason-box h5 {
  font-size: 22px;
  padding-bottom: 10px;
  margin: 5px;
  transition: transform 0.5s;
}
.boxes .reason-box:hover {
    transform: scale(0.9);
}

/* start testimonail section  */
.testimonaial-section{
  padding: 10px 20px;
  position: relative;
  height:auto; 
  background-color:var(--bg-color);
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
  border-top: 1px solid var(--gold);
}
.testimonaial-section .testimonail-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

}
.testimonaial-section .testimonail-content .single-testimonail{
    background-color: var(--light-bg-color);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid var(--gold);
    transition: transform 0.4s;
    cursor: pointer;
}
.testimonaial-section .testimonail-content .single-testimonail:hover{
   transform: translateY(-10px)
}
.testimonaial-section .testimonail-content .single-testimonail img{
  border-radius: 50%;
  width: 40%;
  border: 4px solid var(--gold);
}
.testimonaial-section .single-testimonail .client-details ul{
  align-items: center;
  justify-content: center;
  display:flex;
}
.testimonaial-section .single-testimonail .cleint-info .client-details{
  padding: 15px;
  line-height: 1.5;
}
.testimonaial-section .single-testimonail  .client-details span{
  padding: 10px;
}
.testimonaial-section .single-testimonail .cleint-info .client-details h6,
.testimonaial-section .single-testimonail .cleint-info .client-details span{
   font-weight: 500;
   text-transform: capitalize;
}
.testimonaial-section .single-testimonail .cleint-info p{
  color: var(--white);
  font-family: var(--playfair-disply-font);
  line-height: 1.4;
}
.testimonaial-section .single-testimonail .cleint-info p i{
   font-size: 24px;
    color: var(--gold);
    opacity: 0.4;
    padding-left: 5px;
}
/* start foooter section */
.footer {
  background-color: var(--light-bg-color);
  border-bottom: 1px solid var(--gold);
  width: auto;
 } 
 .footer .row{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0 30px 0 30px;
 }
 
 .footer .contact,
 .footer .services,
 .footer .newslatter{
   padding: 20px;
   margin-right: 20px;
 }
 .footer .contact  h2 {
   margin-top: 20px;
 }
 .footer .contact  h2 a,
 .footer .services h2,
 .footer .newslatter h2
 {
   color: var(--white);
 }
 .footer .contact .contact-info .location,
 .footer .contact .contact-info .phone,
 .footer .contact .contact-info .email{
   padding: 10px 0 10px 0;
   font-size: 20px;
   color: var(--white);
 }
 .footer .contact .contact-info  i{
   padding: 5px;
   font-size: 20px;
   color: var(--gold);
 }
 .socail-icons ul{
  display: flex;
 }
 .socail-icons ul li {
   margin-right: 10px;
   background-color: var(--bg-color);
   border-radius: 50%;
   padding: 10px;
 }
 .socail-icons ul li a i{
   color: var(--gold);
   font-size: 24px;
 }
 .footer .services .services-menu{
   flex-direction: column;
   padding-top: 10px
 }
 .footer .services .services-menu li i{
   color: var(--gold);
   padding-top: 10px;
   padding-right: 10px;
 }
 .footer .services .services-menu li {
   padding: 15px;
   font-size: 18px;
   color: var(--white);
   font-family: var(--playfair-disply-font);
   text-transform: capitalize;
 }
 
 /* .footer .newslatter{
   padding: 20px;
 } */
 .footer .newslatter p{
   font-size: 20px;
   color: var(--white);
   line-height: 1.5;
   padding: 10px;
 }
 
 .footer .newslatter form input {
   width: calc(100% - 110px);
   border: 1px solid var(--gold);
   border-radius: 20px;
   background-color:var(--icon-bg);
   height: 45px;
   font-weight: bold;
   font-size: 18px;
   padding-left: 10px;
   color: var(--white);
 }
 .footer .newslatter form input:focus{
     border: 1px solid var(--gold);
 }
 .footer .newslatter form button {
   background-color: var(--gold);
   color: var(--white);
   border-radius: 24px;
   font-size: 18px;
   padding: 12px;
   margin-top: 15px;
   font-weight: 500;
   align-items: flex-start;
   text-align: center;
 }
 /* copyrigth  */
 .credits {
   background-color: var(--bg-color);
   padding: 30px;
   font-size: 26px;
   text-align: center;
   color: var(--white);
   line-height: 1.5;
   font-family: var(--playfair-disply-font);
   font-weight: 400;
   border-top: 1px solid var(--gold);
 }
 
 .credits p span {
   color: var(--gold);
   font-family: var(--logo-font);
 }
 .footer-logo {
   font-family: var(--logo-font);
 } 
 
 .footer .newslatter form input:focus::placeholder {
   opacity: 0;
   transition: 0.4s;
 
 }  

@media (max-width: 450px) {
  .testimonaial-section .testimonail-content,
  .footer .row{
    flex-wrap: wrap;
  }
  .why-us .boxes .reason-box{
    width: 200px;
  }
  .boxes{
  padding: 15px;
  width: 100%;
  }
 
}
/*-----------------------------------lab--------------------------------*/
@media (min-width: 768px){
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  .about .row .image {
    flex: 1 1 5rem;
  }
  .about .row .image img {
    width: 80%;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15%;
  }
  .checkbtn {
    display: none;
  }
  nav .nav-menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav .nav-menu li a {
    font-size: 14px;
  }
  .nav-menu {
    width: 78%;
    height: 13vh;
    position: initial;
    transition: all 0.5s;
    background-color: #00000000;
  }
.heading span {
  color: rgba(197, 157, 95, 1);
  text-transform: uppercase;
}
.home {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
#About_us {
  padding: 90px;
  background: rgba(26, 24, 20, 1);
  padding: 30px;
}
.home .content {
  max-width: 60rem;
}
.about .row {
  display: flex;
  align-items: center;
  background: rgba(54, 51, 44, 1);
  flex-wrap: wrap;
}
.about .row .image {
  flex: 1 1 20rem;
}
.about .row .image img {
  width: 70%;
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 10%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 12px;
}
.about .row .content p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  line-height: 1.8;
  text-align: center;
}
.para1 {
  font-size: 30px;
}
.about .row .content h3 {
  font-size: 1rem;
  color: #fff;
}
 
 /* why choose us section  */
 .why-us .boxes{
  flex-direction: row;
}
.why-us .boxes .reason-box{
 width: 300px;
 height: 200px;
 padding-top: 30px;
 font-size: 20px;
}
 /* our chef section  */
.our-chef .row{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.our-chef .row .chef-item{
 margin: 20px;
}
.chef-item .chef-item-info{
  margin-top: -20px;
}
.testimonaial-section .testimonail-content{
  font-size: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
}
.testimonaial-section .testimonail-content .single-testimonail .cleint-info p{
line-height: 1.8;
 font-size: 20px;
 width: 100%;

}
/* start footer section  */
.footer .row .newslatter {
  width: 40%;
  line-height: 2;
}
.footer .row .services{
  margin-top: 20px;
}
.footer .row .services .services-menu li{
    padding: 5px;
}

.footer .row,
.why-us .boxes{
  flex-direction: row;
}
.footer .newslatter form input{
  width: 300px;
}
.footer .newslatter form button{
   margin-left: 10px;
}
 .footer .row .newslatter{
   line-height: 0.8;
 }
 .footer .row {
  margin: 0 auto;
 } 
}