/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");

/* gobable setting */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
} */
button,
input {
  border: none;
  outline: none;
}

/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --icon-bg: #28251f;
}
 /* selector style  */

::selection {
  background-color: var(--gold);
  color: var(--bg-color);
  font-weight: bold;
}
select {
  background-color: var(--gold);
  border-radius: 16px;
  color: var(--light-bg-color);
  font-weight: bold;
  padding: 20px;
  outline: none;
  border: none;
}
select option {
  background-color: var(--light-bg-color);
  color: var(--gold);
  border-radius: 20px;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 5rem;
}
/* ------------------------------------Section Home page ---------------------------*/
.Home-section {
  font-family: Playfair Display;
  height: 100vh;
  width: 100%;
  background: url("../image/homePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}
.Home-section .home-btn {
  color: #ffffff;
  font-family: Lobster;
  font-family: Playfair Display;
  padding: 20px 25px;
  border-radius: 30px;
  border: 2px solid rgba(197, 157, 95, 1);
  width: fit-content;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
  bottom: 12%;
  background-color: rgba(180, 138, 75, 0.315);
  font-size: 25px;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-size: 40px;
  padding-left: 50px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: block;
  margin: 70px 0;
  line-height: 30px;
}
nav ul li a {
  font-size: 30px;
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
#check:checked ~ ul {
  left: 0;
}
a:hover {
  background: rgba(197, 157, 95, 1);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
}
#check {
  display: none;
}
a:hover,
a.active {
  background: none;
  color: rgba(197, 157, 95, 1);
}
ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}
/* ---------------------------------- Section About Us ----------------------------------*/
.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 2rem;
}
@media (min-width: 415px) and (max-width: 768px){
  .heading {
    font-size: 3rem;
  }
  .Home-section {
    background-position: center;
  }
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 30px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: rgba(197, 157, 95, 1);
  }
  #check:checked ~ ul {
    left: 0;
  }

  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

}
/*-----------------------------------lab--------------------------------*/
@media (min-width: 769px){
  label.logo {
    font-size: 30px;
    padding-left: 30px;
  }
  .checkbtn {
    display: none;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    font-size: 14px;
  }
  ul {
    width: 78%;
    height: 13vh;
    position: initial;
    transition: all 0.5s;
    background-color: #00000000;
  }
}