@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");
/* gobable setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --icon-bg: #28251f;
}
/* selector style  */
::selection {
  background-color: var(--gold);
  color: var(--bg-color);
  font-weight: bold;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5rem;
}
/* ------------------------------------Section Home page ---------------------------*/
.Home-section {
  font-family: var(--playfair-disply-font);
  height: 100vh;
  width: 100%;
  background: url(../image/homePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
nav {
  z-index: 100;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}
.Home-section .home-btn {
  color: var(--white);
  font-family: var(--playfair-disply-font);
  padding: 20px 25px;
  border-radius: 30px;
  border: 2px solid var(--gold);
  width: fit-content;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
  bottom: 1%;
  background-color: rgba(180, 138, 75, 0.315);
}
label.logo {
  color: var(--white);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
