/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600&display=swap");

/* gobable setting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #1a1814;
}

ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
  outline: none;
}

/* gobal varible  */
:root {
  --bg-color: #0c0b09;
  --light-bg-color: #1a1814;
  --gold: #cda45e;
  --white: #fff;
  --playfair-disply-font: "Playfair Display", serif;
  --logo-font: "Lobster", cursive;
  --shadow: 0 0 13px var(--icon-bg);
  --logo-font: "Lobster", cursive;
  --icon-bg: #28251f;
}
/* selector style  */
::selection {
  background-color: var(--gold);
  color: var(--bg-color);
  font-weight: bold;
}
select {
  background-color: var(--gold);
  border-radius: 16px;
  color: var(--light-bg-color);
  font-weight: bold;
  padding: 20px;
  outline: none;
  border: none;
}
select option {
  background-color: var(--light-bg-color);
  color: var(--gold);
  border-radius: 20px;
}
/* ------------------------------------Section Home page ---------------------------*/
.Home-section {
 font-family: var(--playfair-disply-font);
  height: 100vh;
  width: 100%;
  background: url("../image/homePage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.Home-section .content {
  font-size: 30;
  text-align: center;
  color: var(--gold);
  text-transform: capitalize;
  overflow: hidden;
  font-family: var(--playfair-disply-font);
  line-height: 1.7;
  margin-top: 250px;
}
.Home-section::before{
  content: '';
   left: 0;
   top: 0;
   position: absolute;
   background-color: #000000;
   opacity: 0.7;
   z-index: -1;
   height: 100vh;
   width: 100%;
}
.logo-heading{
   font-family: var(--logo-font);
   font-size: 32px;
   transition: color 0.4s;
}
.logo-heading:hover{
  color: var(--gold);
}
 .Home-section .content h1 ,
.Home-section .content a{
  color: var(--white);
  font-weight: 900;
  font-size: 40px;
}
nav {
  z-index: 100;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}
.Home-section1 .home-btn {
  animation: zoonInOut 20s ease infinite;
  color: #ffffff;
  font-family: Lobster;
  font-family: Playfair Display;
  padding: 20px 25px;
  border-radius: 30px;
  border: 2px solid rgba(197, 157, 95, 1);
  width: fit-content;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
  bottom: 1%;
  background-color: rgba(180, 138, 75, 0.315);
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}
/* food cards section */
.menu-section {
  width: 100%;
  height: auto;
  padding: 0px 16px;
  position: relative;
}
.category-btn {
  width: 60%;
  height: 40px;
  margin: 24px auto;
  background-color: #36332b;
  color: #c59d5f;
  font-size: 28px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icon-wrapper {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c59d5f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-wrapper i {
  color: #000000;
}
.food-card {
  width: 100%;
  height: 130px;
  background-color: #282621;
  border-radius: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.food-flex {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
.foodImg-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}
.food-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.content-head {
  display: flex;
  justify-content: space-between;
}
.food-content .food-title {
  color: #c59d5f;
  font-size: 20px;
  margin-bottom: 8px;
}
.content-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-description {
  color: #c6c1c1;
  font-size: 14px;
  flex-basis: 75%;
}
.food-price {
  color: var(--gold);
  align-self: flex-start;
  font-size: 18px;
}
.add-food {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-basis: 25%;
}
.add-minus-icon {
  padding: 1px 6px;
  line-height: 1.2;
  background-color: var(--gold);
  border: none;
  outline: none;
  border-radius: 4px;
}
.add-plus-icon {
  padding: 1px 4px;
  line-height: 1.2;
  background-color: var(--gold);
  border-radius: 4px;
}
.quantity {
  color: var(--white);
  font-size: 14px;
}
.add-minus-icon i {
  font-size: 14px;
}
.checkout-btn {
  margin-top: 16px;
  width: 50%;
  height: 50px;
  background-color: var(--gold);
  cursor: pointer;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 24px;
  border-radius: 10px;
}
.checkout-btn:hover{
  background-color: transparent;
  border: 1px solid var(--gold);
}

.checkout-btn a:active,
.checkout-btn a:visited,
.checkout-btn a:link {
  color: var(--bg-color);
}
.checkout-btn a:hover{
  color: var(--gold);
}
/* dropdown menu classes  */

.dropdown-menu {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48px;
}
.display {
  display: flex;
  z-index: 10000;
}
.dropdown-menu ul {
  width: 230px;
  box-shadow: 0px 0px 15px rgba(40, 38, 33, 0.6);
  background-color: #36332b;
  text-align: center;
  color: #c6c1c1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 2px;
}
.dropdown-menu ul li {
  border-bottom: 1px solid #1a1814;
  font-size: 22px;
  padding: 8px 0px;
  transition: background-color 0.5s ease-in-out;
}
.dropdown-menu ul li:hover{
  background-color: var(--gold);
  color: var(--light-bg-color);
}
/* responsive section  */
@media (min-width: 415px) and (max-width: 768px) {
  .Home-section {
    background-position: center;
  }
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  .foodcards-container {
    display: grid;
    column-gap: 2%;
    grid-template-columns: auto auto;
  }
  .line-wrapper {
    margin-bottom: 32px;
  }
  .foodcards-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
  }
  .dropdown-menu ul {
    width: 57%;
  }
}

@media (min-width: 769px) {
  label.logo {
    font-size: 40px;
    padding-left: 50px;
  }
  .category-btn {
    width: 32%;
    cursor: pointer;
  }
  .foodcards-container {
    display: grid;
    column-gap: 1%;
    grid-template-columns: auto auto auto;
  }
  .checkout-btn {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .time {
    font-size: 28px;
  }
  .opening-days {
    font-size: 32px;
  }
  .line-wrapper {
    margin-bottom: 32px;
  }
  .opening-subtitle {
    margin-bottom: 24px;
  }
  .dropdown-menu ul {
    width: 31%;
  }
}
